.Title{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
	text-decoration: underline;
}
.right-side{
	border-left: 1px solid black;
}
.circle{
	width: 300px;
	height: 300px;
	margin: 80px auto;
	background-color: green;
	border-radius: 50%;
	line-height: 300px;
	text-align: center;
	font-size: 70px;
}