{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Heart Disease Form</title>
  <meta name="description" content="Heart Disease Form">
  <link rel="stylesheet" href="{% static 'prognosis/styles.css' %}">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
<section class="container-fluid">
	<h1 class="Title">Predict the level of your heart disease</h1>
	<div class="row">
		<div class="col-lg-6">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
				<label for="age">Age: </label><br>
				{{ form.Age }}
			  </div>
			  <div class="form-check">
				<label class="form-check-label" for="sexCheck">Sex: </label><br>
                {{ form.Sex }}
				<small id="sexHelp" class="form-text text-muted"> (If checked that means Male, if not means Female.)</small>
			  </div>
			  <br>
			  <div class="form-group">
				<label for="cp">CP: </label><br>
                {{ form.CP }}
			  </div>
			  <div class="form-group">
				<label for="cholesterol">Cholesterol: </label><br>
                {{ form.Cholestorel }}
			  </div>
			  <div class="form-group">
				<label for="thalach">Thalach: </label><br>
                {{ form.Thalach }}
			  </div>
			  <div class="form-group">
				<label for="ca">CA: </label><br>
                  {{ form.CA }}
			  </div>
            <input type="submit" value="Submit" />
            </form>
            </div>
		<div class="col-lg-6 right-side">
			<div class="circle" id="cirleText">
			</div>
		</div>
	</div>
</section>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{% static 'prognosis/scripts.js' %}"></script>
</body>
</html>